.env
.env.*
!.env.example
**/node_modules/
**/vendor/
**/dist/
backend/public/assets/
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/storage/framework/cache/data/*
!backend/storage/framework/cache/data/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
**/.phpunit.cache/
**/.phpunit.result.cache
**/coverage/
**/auth.json
.idea/
.vscode/
.DS_Store
Thumbs.db
