@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Inter', system-ui, -apple-system, sans-serif; }
h1,h2,h3 { font-family: 'Plus Jakarta Sans', Inter, sans-serif; }

/* scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 999px; }
::-webkit-scrollbar-track { background: transparent; }
